* {
  box-sizing: border-box;
}
body {
  background-color: #e9efef;
}

/* header & footer */

header {
  background-color: white;
  padding: 10px;
}
header .toggle-btn {
  float: right;
}

footer {
  margin-top: 50px;
  text-align: center;
  color: #999999;
}

/* grid view */

.pic-card {
  height: 175px;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.25);
}
.pic-card:hover,
.pic-card:focus {
  box-shadow: 0px 4px 0px 0px rgba(39,159,182,0.75);
}
.pic-card img{
  width: 100%;
  position: absolute;
  display: block;
}

/* adds gradient overlay */
.pic-card:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

.pic-caption {
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding-left: 1em;
  padding-bottom: 0.25em;
}
.pic-name{
  color: #279fb6;
  font-size: 1.2em;
}
.pic-caption .pic-name {
  margin-bottom: 0;
}
.pic-caption .pic-owner-loc {
  color: #c7ccc9;
}

/* list view */

.pic-list {
  border-bottom: 1px solid gray;
  padding: 5px;
}
.pic-list img {
  float: right;
}
/*modal */

.pic-modal-body img{
  width: 100%;
}
.pic-modal-body,
.pic-modal-title{
  text-align: center;
}

/* media queries */
@media (min-width: 400px){
  .container {
    width: 100%;
  }
  .pic-modal {
  width: 400px;
  }
}
@media (min-width: 720px){
  .pic-modal {
    width: 640px;
  }
  .container {
    width: 75%;
  }
}
@media (min-width: 992px){
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px){
  .container {
    width: 75%;
  }
}


