* {
  box-sizing: border-box;
}
body {
  background-color: #e9efef;
}

/* header & footer */

header {
  background-color: white;
  padding: 10px;
}
header .add-btn {
  color: white;
  background-color: #7cbd4f;
  float: right;
}
.search-text {
  width: 60%;
  display: inline-block;
}
.search-icon {
  background: url(/images/search.png) no-repeat 8px 8px;
  padding-left: 30px;
}
footer {
  margin-top: 50px;
  text-align: center;
  color: #999999;
}

/* grid view */

.dog-card {
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.25);
}
.dog-card:hover,
.dog-card:focus {
  box-shadow: 0px 4px 0px 0px rgba(39,159,182,0.75);
}
.dog-card img{
  width: 100%;
  position: absolute;
  margin-top: -25%;
  display: block;
}

/* adds gradient overlay */
.dog-card:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

.dog-caption {
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding-left: 1em;
  padding-bottom: 0.25em;
}
.dog-name{
  color: #279fb6;
  font-size: 1.25em;
}
.dog-caption .dog-name {
  margin-bottom: 0;
}
.dog-caption .dog-owner-loc {
  color: #c7ccc9;
}

/* list view */

.dog-list {
  border-bottom: 1px solid gray;
  padding: 5px;
}

/* modal dialog */

@media (min-width: 768px){
  .dog-modal {
      width: 450px;
  }
}

.dog-modal-body,
.dog-modal-title{
  text-align: center;
}
