
<div ng-repeat="dog in dogs | filter: filterDogs">
  <div class="col-md-3">
      <div ng-click="$parent.current = $index" data-toggle="modal" data-target="#myModal"class="dog-card overlay">
        <a href="http://www.google.com">
<!--         <img src="{{dog.bigImage}}">
 -->      </a>
        <div class="dog-caption">
          <p class="dog-name">{{dog.name}}</p>
          <p class="dog-owner-loc">{{dog.owner}} - {{dog.city}}</p>
        </div>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="dog-modal modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <p class="modal-title dog-modal-title dog-name" id="myModalLabel">{{dogs[current].name}}</p>
        <p class="modal-title dog-modal-title dog-owner-loc">{{dogs[current].owner}} - {{dogs[current].city}}</p>
      </div>
      <div class="modal-body dog-modal-body">
<!--         <img src="{{dogs[current].bigImage}}">
 -->      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

