<div class="pic-list"  ng-repeat="pic in pics">
  <div ng-click="$parent.current = $index" data-toggle="modal" data-target="#myModal"class="row">
    <div class="col-sm-2">
      <img src="{{pic.url_q}}">
    </div>
    <div class="col-sm-3">
      <p class="pic-name">{{pic.title}}</p>
      <p>by {{pic.ownername}}</p>

      <p>{{pic.views}} views on Flickr</p>
    </div>
    <div class="col-sm-6">
      <p>Tags: {{pic.tags}}</p>
    </div>
  </div>
</div>

<!-- Modal -->
<div ng-list-modal></div>

