<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="pic-modal modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <p class="modal-title pic-modal-title pic-name" id="myModalLabel">{{pics[current].title}}</p>
        <p class="modal-title pic-modal-title pic-owner-loc">owner here</p>
      </div>
      <div class="modal-body pic-modal-body">
        <img src="{{pics[current].url_z}}">
      </div>
      <div class="modal-footer">
        <p><a href="{{pics[current].url_z}}">link</a></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
