<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="dog-modal modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <p class="modal-title dog-modal-title dog-name" id="myModalLabel">{{pics[current].title}}</p>
        <p class="modal-title dog-modal-title dog-owner-loc">current is {{current}}</p>
      </div>
      <div class="modal-body dog-modal-body">
        <img src="{{pics[current].url_z}}">
      </div>
      <div class="modal-footer">
        <p><a href="{{pics[current].url_z}}">link</a></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
